#pm-graph3 {

}

#pm-controls3{
  position: absolute;
  display:flex;
  flex-direction: column;
  padding-top: 30px;
  width:300px;
  max-width:300px;
  z-index: 5;
  pointer-events: none;
}
@media (--s) {
  #pm-controls3{
    display: none;
  }
}

.pm-mapglobalicon{
  width: 162px;
  height: 162px;
  margin-bottom:40px;
}

#pm-label3-1{
  margin-bottom: 6px;
}
#pm-label3-2{
  margin-bottom: 6px;
}
#pm-label3-3{
  margin-bottom: 6px;
}

.mp-menuc{
  pointer-events: auto;
}

.pm-map-mobile-number{
  font-size: 40vw;
  font-family: 'Helvetica Neue Web Bd';
}
.pm-percent{
  font-size: 30vw;
}

.pm-interval{
  font-size: 28px;
  margin-bottom: 10px;
}

.pm-blueline{
  width: 100%;
  margin-bottom: 10px;
  height: 2px;
}

.mp-button {
  color: var(--color-gray) !important;
  background-color: #fff !important;
  border:2px solid var(--color-gray) !important;
  margin: 0px !important;    
  border-radius: 5px !important;
  width: 100% !important;
  margin-bottom: 20px !important;
  height: 50px;
  padding:8px 8px !important;
  font-family: 'Helvetica Neue Web' !important;
  font-size: 20px !important;
}

.mp-button span{
  text-transform: none !important;
  font-weight: normal !important;

}

.mp-button:hover{
  /*letter-spacing: -0.7px !important;*/
  color: #fff !important;
/*  font-family: HelveticaNeueLTStd-Bd !important;*/

}
#mp-button3-0:hover {
 
  border:2px solid var(--color-darkblue) !important;
  background-color: var(--color-darkblue) !important;
}
#mp-button3-1:hover { 
   
  border:2px solid var(--color-orange) !important;
  background-color: var(--color-orange) !important;
}
#mp-button3-2:hover { 
    
  border:2px solid var(--color-green) !important;
  background-color: var(--color-green) !important;
}
#mp-button3-3:hover { 
   
  border:2px solid var(--color-red) !important;
  background-color: var(--color-red) !important;
}
.mp-buttonSelected-0{ 
  /*letter-spacing: -0.7px !important;*/
  color: #fff !important;
  /*font-family: HelveticaNeueLTStd-Bd !important;   */
    border:2px solid var(--color-darkblue) !important;
    background-color: var(--color-darkblue) !important;
}
.mp-buttonSelected-1{
  /*letter-spacing: -0.7px !important;*/
  color: #fff !important;
  /*font-family: HelveticaNeueLTStd-Bd !important;       */
    border:2px solid var(--color-orange) !important;
    background-color: var(--color-orange) !important;
} 
.mp-buttonSelected-2{ 
  /*letter-spacing: -0.7px !important;*/
  color: #fff !important;
  /*font-family: HelveticaNeueLTStd-Bd !important;      */
    border:2px solid var(--color-green) !important;
    background-color: var(--color-green) !important;
} 
.mp-buttonSelected-3{ 
/*letter-spacing: -0.7px !important;  */
  color: #fff !important;
  /*font-family: HelveticaNeueLTStd-Bd !important;    */
    border:2px solid var(--color-red) !important;
    background-color: var(--color-red) !important;
}  


@media (--s) {
  .MuiButtonBase-root-19{
    margin-bottom: 10px !important;
  }
}





.mp-supermap{
  position: relative;
  margin-left: 200px;
}

.mp-maplabel{
  width: 100%;
  text-align: center;
  opacity: 0.4;
  font-size: 18px;
  margin-bottom: 10px;
}

.mp-country{
  stroke: #58595b; 
  stroke-width: 0.25;
}


.mp-graph3-svg{
	position: relative;

}

.mp-mapcontainer{
  overflow: hidden;
  position:relative;
}

.mp-map-controls{
  position: absolute;
  left:0;
  pointer-events: none;
}

.mp-map-button{
  width:40px;
  height:40px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: -10px;
  margin-top: -10px;
}

#mp-mb1{
  left: 90%;
  top: 55%;
/*  visibility: hidden;*/
}
#mp-mb2{
  left: 40%;
  top: 43%;
}
#mp-mb3{
  left: 14%;
  top: 57%;
}

#mp-mbout{
  position: absolute;
  left: 50%;
  top: 50%;
  display: none;
  pointer-events: none;
  cursor: pointer;
}




.pm-tooltip2{
    font-family: 'Helvetica Neue Web';
    position: absolute;			
    text-align: center;    											
    padding-top: 6px;	
    padding-left: 8px;     
    padding-right: 8px;
    padding-bottom: 6px;			
    
    font-size: 18px;		
    background: lightsteelblue;	
    border: 0px;				
    pointer-events: none;
    border-radius: 5px;

    z-index: 100;

    & span{
      font-family: 'Helvetica Neue Web Bd';
    }	
}