#pm-graph4{
	display: flex;
	flex-direction: row;
}
@media (--s) {
  #pm-graph4 {
	flex-direction: column;
	overflow: hidden;
  }
}  

#pm-controls4{
	width:320px;
	padding-right: 20px;
	display:flex;
	flex-direction: column;
	padding-top: 50px;
}
@media (--s) {
  #pm-controls4{
	width:100%;
	padding-right: 0px;
	padding-top: 0px;
	margin-bottom: 10px;
  }
}

#pm-label4-1{
	margin-bottom: 6px;
}
@media (--s) {
  #pm-label4-1{
  	order: 3;
  }
}

#pm-label4legend{
	width: 250px;
	height: 50px;
	border-radius: 6px;
	background: linear-gradient(-45deg, rgba(0, 0, 0, 0) 49.9%, #a8a9af 49.9%, #a8a9af 64%, rgba(0, 0, 0, 0) 64%),
	linear-gradient(-45deg, #a8a9af 14%, rgba(0, 0, 0, 0) 14%);
	background-size: 0.9em 0.9em;
	background-color: white;
	margin-bottom: 23px;
}
@media (--s) {
  #pm-label4legend{
  	width: 60px;
  	order: 4;
  	margin-bottom: 0px;
  }
}

#pm-label4-2{
	margin-bottom: 6px;
}


@media (--s) {
  .customSelect{
  	margin-bottom: 10px;
  }
}







.pm-graph4-div{
	position:relative;
}

.pm-whitebar{
	position: absolute;
	bottom: 0;
	border-radius: 6px;
}

.pm-blackbar{
	position: absolute;
	bottom: 0;
	border-radius: 6px;
}


.pm-blackspan{
	font-size: 20px;
	width: 100%;
	text-align: right;
	position: absolute;
	top: -25px;
	font-family: 'Helvetica Neue Web Bd';
	z-index: 10;
	right: 0;
	padding-left: 2px;
}

.pm-whitespan{
	font-size: 20px;
	width: 100%;
	text-align: left;
	position: absolute;
	top: -25px;
	font-family: 'Helvetica Neue Web Bd';
	z-index: 10;
	padding-right: 2px;
}

.antioverlapDown{
	top: -15px;
}
.antioverlapUp{
	top: -35px;	
}

@media (--s) {
	.pm-blackspan{
		font-size: 15px;
	}
	.pm-whitespan{
		font-size: 15px;
	}
}

.pm-gradientbar0{
	  background: linear-gradient(-45deg,
      rgba(0, 0, 0, 0) 49.9%, 
      #466ea5 49.9%, #466ea5 64%, 
      rgba(0, 0, 0, 0) 64%
      ),
    linear-gradient(-45deg,
      #466ea5 14%,
      rgba(0, 0, 0, 0) 14%
      );
	  background-size: 0.9em 0.9em;
	  background-color: white;
}
@media (--s) {
	.pm-gradientbar0{
		  background: repeating-linear-gradient(
		    -45deg,
		    rgba(70,110,165,0.5) 0px,
		    rgba(70,110,165,0.5) 2px,
		    transparent 2px,
		    transparent 5px
		  );
	}
}

.pm-gradientbar1{
	  background: linear-gradient(-45deg,
      rgba(0, 0, 0, 0) 49.9%, 
      #6390c6 49.9%, #6390c6 64%, 
      rgba(0, 0, 0, 0) 64%
      ),
    linear-gradient(-45deg,
      #6390c6 14%,
      rgba(0, 0, 0, 0) 14%
      );
	  background-size: 0.9em 0.9em;
	  background-color: white;
}
@media (--s) {
		.pm-gradientbar1{
		  background: repeating-linear-gradient(
		    -45deg,
		   rgba(99,144,198,0.5) 0px,
		    rgba(99,144,198,0.5) 2px,
		    transparent 2px,
		    transparent 5px
		  );
	}
}

.pm-gradientbar2{
	  background: linear-gradient(-45deg,
      rgba(0, 0, 0, 0) 49.9%, 
      #6e8f82 49.9%, #6e8f82 64%, 
      rgba(0, 0, 0, 0) 64%
      ),
    linear-gradient(-45deg,
      #6e8f82 14%,
      rgba(0, 0, 0, 0) 14%
      );
	  background-size: 0.9em 0.9em;
	  background-color: white;
}
@media (--s) {
		.pm-gradientbar2{
		  background: repeating-linear-gradient(
		    -45deg,
		   rgba(110,143,130,0.5) 0px,
		    rgba(110,143,130,0.5) 2px,
		    transparent 2px,
		    transparent 5px
		  );
	}	
}

.pm-gradientbar3{
	  background: linear-gradient(-45deg,
      rgba(0, 0, 0, 0) 49.9%, 
      #e77c22 49.9%, #e77c22 64%, 
      rgba(0, 0, 0, 0) 64%
      ),
    linear-gradient(-45deg,
      #e77c22 14%,
      rgba(0, 0, 0, 0) 14%
      );
	  background-size: 0.9em 0.9em;
	  background-color: white;
}
@media (--s) {


		.pm-gradientbar3{
		  background: repeating-linear-gradient(
		    -45deg,
		   rgba(231,124,34,0.5) 0px,
		   rgba(231,124,34,0.5) 2px,
		    transparent 2px,
		    transparent 5px
		  );
	}	


}

.pm-colorspan0 { color: #466ea5; }
.pm-colorspan1 { color: #6390c6; }
.pm-colorspan2 { color: #6e8f82; }
.pm-colorspan3 { color: #e77c22; }




.pm-legend-line0{
	display: flex;
	justify-content: space-between;
}

.pm-legend-text{
	padding: 12px;
	text-align: center;	
	font-size: 20px;
}

@media (--s) {
	.pm-legend-text{
		font-size: 14px;
    	padding-right: 0;
    	padding-left: 0;
	}
}

.pm-legendboldspan{
	font-family: 'Helvetica Neue Web Bd';
}

.pm-whitespan,
.pm-blackspan{

	background-color: white;
	width: auto;

/*	text-shadow: 
		-0   -1px 2px #FFFFFF,
		 0   -1px 2px #FFFFFF,
		-0    1px 2px #FFFFFF,
		 0    1px 2px #FFFFFF,
		-1px -0   2px #FFFFFF,
		 1px -0   2px #FFFFFF,
		-1px  0   2px #FFFFFF,
		 1px  0   2px #FFFFFF,
		-1px -1px 2px #FFFFFF,
		 1px -1px 2px #FFFFFF,
		-1px  1px 2px #FFFFFF,
		 1px  1px 2px #FFFFFF,
		-1px -1px 2px #FFFFFF,
		 1px -1px 2px #FFFFFF,
		-1px  1px 2px #FFFFFF,
		 1px  1px 2px #FFFFFF;*/
}

