@font-face {
  font-family: 'Helvetica Neue Web';
  src: url('../assets/fonts/HelveticaNeueLTPro-Lt.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Web Bd';
  src: url('../assets/fonts/HelveticaNeueLTPro-Bd.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

