.powerman-app-root
{
    color: var(--color-gray);
    font-family: 'Helvetica Neue Web';
}

.powerman-app-root span{
    margin: 0 !important;
}

.powerman-app-root *{
  line-height: 1 !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

.pm-container {
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 0px;
}
@media (--s) {
	.pm-container {
		padding: 0px;
	}
}


.pm-graph {
	position: relative;
	overflow: hidden;
	max-width: 1500px;
    left: 50%;
    transform: translate(-50%, 0);
}

.pm-label{
	font-size: 20px;
	position: relative;
}
@media (--s) {
    .pm-label{
        font-size: 14px;
    }
}






