#pm-graph5{
	display: flex;
	flex-direction: row;
	overflow: visible;
}
@media (--s) {
  #pm-graph5 {
	flex-direction: column;
	overflow: hidden;
  }
}


#pm-graph5-container{
	display: flex;
	flex-direction: row;
	overflow: visible;
}
@media (--s) {
  #pm-graph5-container {
	flex-direction: column;
	overflow: hidden;
  }
}



#pm-controls5{
	width:220px;
	min-width:220px;
	padding-right: 20px;
	display:flex;
	flex-direction: column;
}
@media (--s) {
  #pm-controls5{
	width:100%;
	min-width:100%;
	padding-right: 0px;
  }
}  


#pm-label5-1{
	text-align: right;
	margin-bottom: 144px;
}
@media (--s) {
  #pm-label5-1{
	margin-bottom: 0;
	display: none;	
  }
}

#pm-label5-2{
	margin-bottom: 6px;
}






#pm-countrylabels{
	margin-top: 20px;
	position: relative;
	width: 100%;
	display: none;		
}

@media (--s) {
	#pm-countrylabels{
		display: flex;
		margin-bottom: 5px;
	}
}	

.pm-countrylabel{
	width: 100%;
	position: relative;
	text-align: center
}



.pm-graph5-div{
	width:100%;
	margin-top: 0px;
	margin-bottom: 0px;
	position:relative;
	display: flex;
	flex-direction: column;
}

.pm-graph5-2-div{
	width:100%;
	margin-top: 20px;
	margin-bottom: 0px;
}

.pm-whitebar2{
	border-radius: 5px;
	margin-bottom: 30px;
	position: relative;
}
.pm-whitebar2:last{
	margin-bottom: 10px;
}


.pm-whitespan2{
	color: white;
	font-family: 'Helvetica Neue Web Bd';
	font-size: 16px;
	position: absolute;
	left: calc(100% + 10px);
	margin: 0;
	top: 17px;
}

.pm-whitespan3{
	white-space: nowrap;
	position: absolute;
	top: -21px;
	font-size: 16px;
	margin: 0;
}

.pm-whitespan34, .pm-whitespan35{
	top: -35px;
}	

.pm-colorspan20{
	color: var(--color-darkblue);
}
.pm-colorspan21{
	color: var(--color-lightblue);
}
.pm-colorspan22{
	color: var(--color-green);
}
.pm-colorspan23{
	color: var(--color-orange);
}
.pm-colorspan24{
	color: var(--color-red);
}
.pm-colorspan25{
	color: var(--color-darkgray);
}
.pm-colorspan26{
	color: rgb(116, 117, 126);
}
.pm-colorspan27{
	color: var(--color-lightgray);
}



.pm-globalbar,
.pm-countrybar{
	display: flex;
	border-radius: 8px;
	position: relative;
	height: 150px;
	width: 100%;
}

.pm-globalbar{
	margin-bottom: 60px;
}

.pm-countrybar{
	margin-bottom: 20px;
}


@media (--s) {
	.pm-graph5-div{
		flex-direction: row;
		justify-content: space-between;
		padding-left: 10px;
		padding-right: 10px;
	}

	.pm-globalbar,
	.pm-countrybar{
		height: 400px;
		width: 100%;
		margin-bottom: 20px;		
		flex-direction: column;
	}

	.pm-globalbar{
		margin-right: 10px;		
	}

	.pm-countrybar{
		margin-left: 10px;		
	}
}




.pm-globalbars, 
.pm-countrybars{
	cursor: pointer;	
	z-index:1;
	position: relative;
}

.pm-globalbars:first-child,
.pm-countrybars:first-child {
	border-top-left-radius:	6px;
	border-bottom-left-radius:	6px;
}

.pm-globalbars:last-child,
.pm-countrybars:last-child {
	border-top-right-radius:	6px;
	border-bottom-right-radius:	6px;	
}


@media (--s) {
.pm-globalbars:first-child,
.pm-countrybars:first-child {
	border-top-left-radius:	6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 0px;
}

.pm-globalbars:last-child,
.pm-countrybars:last-child {
	border-bottom-left-radius:	6px;
	border-bottom-right-radius:	6px;	
	border-top-right-radius:	0px;	
}
}

.pm-globalbarsSelected,
.pm-countrybarsSelected{
	transition: all .2s linear 0s;
	transform: scale(1.1);
	z-index:10;

	& span{
		transition: all .2s linear 0s;
		transform: scale(2) translate(-25%, -25%);
	}
}






.pm-g5span{
	font-family: 'Helvetica Neue Web Bd';
	font-size: 16px;
	color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:10;v
    letter-spacing: 0px;
    visibility: visible;
}

.pm-g5spanDisable{
	visibility: hidden;
}



.pm-legend5{
	border-top: 1px solid #acadb3;
	font-size: 20px;
	padding-top: 15px;
}
@media (--s) {
	.pm-legend5{
		padding-left:10px;
		padding-right:10px;
	}
}

.pm-legend5Header{
	margin-bottom: 15px;
}

.pm-legend5Btns{
	display:flex;
	position: relative;
	flex-wrap: wrap;
	max-width: 1000px;
}

.pm-legend5Btn{
	display: flex;
	position: relative;
	cursor: pointer;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 8px;
	margin-right: 8px;
	flex-grow: 1;
	max-width: 100%;
	min-width: 100%;
	background-color: white;
	transition: all .2s linear 0s;
	border-radius: 5px;
}



@media (min-width: 560px) {
	#pm-legend5Btn0 { order: 0; }
	#pm-legend5Btn1 { order: 2; }
	#pm-legend5Btn2 { order: 4; }
	#pm-legend5Btn3 { order: 6; }
	#pm-legend5Btn4 { order: 1; }
	#pm-legend5Btn5 { order: 3; }
	#pm-legend5Btn6 { order: 5; }
	#pm-legend5Btn7 { order: 7; }

	.pm-legend5Btn{
		max-width: 280px;
		min-width: 280px;
	}
}

@media (min-width: 1080px) {
	#pm-legend5Btn0 { order: 0; }
	#pm-legend5Btn1 { order: 4; }
	#pm-legend5Btn2 { order: 7; }
	#pm-legend5Btn3 { order: 1; }
	#pm-legend5Btn4 { order: 5; }
	#pm-legend5Btn5 { order: 8; }
	#pm-legend5Btn6 { order: 2; }
	#pm-legend5Btn7 { order: 6; }

	.pm-legend5Btn{
		max-width: 280px;
		min-width: 280px;
	}
}


.pm-legend5BtnColor{
	width:25px;
	height: 25px;
	min-width: 25px;
	border-radius: 5px;
	margin-right: 15px;
	pointer-events: none;	
	transition: all .2s linear 0s;
}

.pm-legend5BtnColorContent{
	transition: all .2s linear 0s;
	width:25px;
	height: 25px;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
}

.pm-legend5BtnColorSelected{
	width:29px;
	height: 29px;
	top: -2px;
	left: -2px;
}

.pm-legend5BtnSelected{
	font-size:20px;
}

.pm-legend5BtnText{
	pointer-events: none;
	width: 100%;
}

.pm-l5bcSelected:after {
  content: '';
  position: absolute;
  border-radius: 3px;
  border: 1px solid #494A4F;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background: white;
  z-index: -1;
}

