#pm-graph1 {
  max-width: 1050px;
  overflow: visible;
}


#pm-controls1{
    margin-left: 55px;
    display:flex;
    flex-direction: column;
}
@media (--s) {
    #pm-controls1{
        margin-left: 0px;
    }
}


#pm-label1-1{
    margin-bottom: 6px;
}

.pm-label1-2{
    position: absolute;
    left: 98%;
    top: 46%;
}
/*@media (max-width: 1250px) {
    .pm-label1-2{
        left: auto;
        right: 20px;
    }
}*/
@media (--s) {
	.pm-label1-2{
        display: block;
		font-size: 12px;
        left: auto;
        right: 4%;
        text-align: right;
        top: 5%;
        text-decoration: underline;
	}
}


#pm-selectGroup{
    display: flex;
    justify-content: start;
    flex-direction: row;
}
@media (--s) {
    #pm-selectGroup{
        flex-direction: column;
    }
}


.pm-graph1-container{
    position: relative;
}

.pm-tooltip1{
	color: white;
    position: absolute;
    text-align: center;
    padding-top: 6px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 6px;
    font-family: 'Helvetica Neue Web Bd';
    font-size: 18px;
    background: lightsteelblue;
    border: 0px;
    pointer-events: none;
    border-radius: 5px;
    z-index: 100;
}