#pm-graph2 {
  max-width: 1350px;
}


.pm-controls2{
    width: 300px;
    display:flex;
    flex-direction: column;

    & .pm-mobile{
        width:100%;
    }
}


#pm-label2{
    margin-bottom: 6px; 
}


.pm-graph2-div{
	margin-top: 20px;
	margin-bottom: 20px;
	position:relative;
	overflow: hidden;
}
@media (--s) {
  .pm-graph2-div{
    margin-top: 10px;
  }
}

.pm-cards{
    border-radius: 6px;
	position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    color: white;
    font-size: 20px;
    font-family: 'Helvetica Neue Web Bd';
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}
@media (--s) {
    .pm-cards{
        padding: 5px;
        font-size: 10px;
    }
} 



.pm-g2circle{
    background-color: var(--color-white);
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    top: 6px;
    left: 6px;
    padding-top: 4px;
}
@media (--m) {
    .pm-g2circle{
        width: 20px;
        height: 20px;
        border-radius: 10px;
        position: absolute;
        top: 4px;
        left: 4px;
        padding-top: 0px;
    }
} 
@media (--s) {
    .pm-g2circle{
        width: 16px;
        height: 16px;
        border-radius: 8px;
        top: auto;
        left: auto;
        right: 70%;
        bottom: 67%;
        padding-top: 2px;
        background-color: transparent;
    }
} 

.pm-g2span{
    margin-top: 2.5px;
    width: 100%;
    text-align: center;
    color:var(--color-gray);
    font-size: 18px;
/*    line-height: 1.4 !important;*/
}
@media (--m) {
    .pm-g2span{
        position: absolute;
        left: 0px;
        font-size: 14px;
    }
}
@media (--s) {
    .pm-g2span{
        width: 40px;
        font-size: 8vw;
        color: white;
        text-align: right;
/*        line-height: 1.7 !important;*/
    }
}  