<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1"/>
  <title>manpower</title>
  
  <style type="text/css">
   
   body{
    background-color: #ccc !important;
    margin: 0;
   }

   .powerman-app-root
   { 
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 85%;
    background-color: #fff;
    position: relative;
   }

    @media (max-width: 1000px) {
    .powerman-app-root
     { 
      margin-top: 40px;
      margin-bottom: 40px;
     }
    }

  </style>
</head>

<body>
<% for (var css in htmlWebpackPlugin.files.css) { %>
<link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[css] %>">
<% } %>
<div id="powerman1-app-root" class="powerman-app-root"></div>
<div id="powerman2-app-root" class="powerman-app-root"></div>
<div id="powerman3-app-root" class="powerman-app-root"></div>
<div id="powerman4-app-root" class="powerman-app-root"></div>
<div id="powerman5-app-root" class="powerman-app-root"></div>
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>
</body>

</html>
